/* noinspection CssUnresolvedCustomProperty */
.image-tools-lens {
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    border: 2px solid var(--interactive-hover);
    border-radius: 50%;
    margin: -2px;
    cursor: move;
}
.submenuContainer-2gbm7M {
    z-index: 1;
}
.image-tools-lens-info {
    position: absolute;
    top: 20px;
    right: 0;
    color: white;
    font-size: 15px;
    z-index: 1003;
    text-align: right;
    p {
        margin: 5px;
    }
}