.submenuContainer-2gbm7M {
    z-index: 1;
}
.image-tools-lens {
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    border: 2px solid var(--interactive-hover);
    border-radius: 50%;
    margin: -2px;
    cursor: move;
    display: none;
}
.image-tools-lens-info {
    position: absolute;
    top: 20px;
    right: 0;
    color: white;
    font-size: 15px;
    z-index: 1003;
    text-align: right;
    opacity: 1;

    p {
        margin: 5px;
    }
}
.image-tools-lens-info-hide {
    opacity: 0;
    transition: 2s;
}
.image-tools-arrows button {
    z-index: 1003;
}
